.loader-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.loader-container span {
  margin-top: 8px;
  text-align: center;
}

.center-container {
  width: 300px;
  margin: 40px auto;
}
