$black: #565656;
$white: #ffffff;
$red: #ff4444;
$green: #4fe596;
$blue: #0d6ffc;

$button--green: #40b979;

$dark-gray: #3a3c40;
$gray: #757b82;
$light-gray: #939596;
$ultralight-gray: #f5f6f7;

$rcBrowserBg: #565c65;
$rcBrowserBodyText: $white;
$rcBrowserDarkBg: #41464c;
$rcBrowserSubText: #abb2bd;

$icon--best: #6f95ff;
$icon--latest: $light-gray;
$icon--high-reward: #ff6f90;
$icon--resolved: $green;
