.instance-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.instance-field .copy-btn {
  position: absolute;
  top: 8px;
  right: -40px;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.custom-instance-button {
  text-align: right;
  justify-self: end;
  margin-top: 8px;
}
